<div id="login-wrapper">

  <header>
    <img src="./../../assets/orbit_trans.png" alt="" class="logo-sm">

    <ul class="header-links">
      <li class="header-link"><a class="link-a" href="/">Dashboard</a></li>
    </ul>
  </header>

  <mat-accordion class="accordion-panel">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title class="login-heading">
              Login
          </mat-panel-title>
 
      </mat-expansion-panel-header>
      
      <form id="login-form" (ngSubmit)="login()">
        <mat-form-field class="form-field">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
        </mat-form-field>
        
        <mat-form-field class="form-field">
          <input matInput placeholder="Password" [formControl]="passwordFormControl">
        </mat-form-field>
        
        <div id="login-button">
          <button mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="login-heading">
                Sign Up
            </mat-panel-title>
   
        </mat-expansion-panel-header>
        
        <form id="signup-form" (ngSubmit)="signup()">

            <mat-form-field class="form-field">
                <input matInput placeholder="Name" [formControl]="nameFormControl">
              </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="Email" [formControl]="emailFormControl">
          </mat-form-field>
          
          <mat-form-field class="form-field">
            <input matInput placeholder="Password" [formControl]="passwordFormControl">
          </mat-form-field>
          
          <div id="login-button">
            <button mat-raised-button color="primary">Sign Up</button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
</div>