<h1>
  Entries
</h1>
<button mat-raised-button color="primary" (click)="addWorkspace()">Add Entry</button>

<div id="flex-wrapper">

  <div id="cards" *ngFor="let ent of entries">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="image"></div>
        <mat-card-title>{{ent.name}}</mat-card-title>
        <mat-card-subtitle>Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="showGraph(ent)">SEE STATS</button>
        <button mat-button (click)="renderAddSnapshotCard(ent)">ADD SNAPSHOT</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>

<!-- Graph and Add Snapshot Card -->

<div id="second-row">

  <!-- Graph -->
  <div *ngIf="barChartData">

    <mat-form-field>
      <mat-select placeholder="Select metric" [formControl]="showCorrectGraphFormControl" (selectionChange)="showGraph(null, $event)">
        <div *ngFor="let label of metricLabels">
          <mat-option value={{label}}>{{label}}</mat-option>
        </div>
        <mat-option value="All">All</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType" width="1000" height="500">
      </canvas>
    </div>
  </div>
  <!-- Graph End -->

  <!-- Add new Snapshot Card -->
  <div id="new-snapshot-card" *ngIf="addingSnapshot">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Add new Snapshot</mat-card-title>
        <mat-card-subtitle>{{addingSnapshot.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- Form beginning -->
        <div id="flex-form">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dateFormControl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select metric" [formControl]="metricForSnapshotFormControl">
              <div *ngFor="let label of metricLabels">
                <mat-option value={{label}}>{{label}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="number" placeholder="Score" [formControl]="scoreFormControl">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Comments" [formControl]="commentFormControl"></textarea>
          </mat-form-field>

        </div>
        <!-- Form End -->

      </mat-card-content>
      <mat-card-actions>
        <button id="add-snapshot-button" mat-button (click)="addNewSnapshot()">CONFIRM</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- End of Add Snapshot Card -->
</div>