<div class="home-page-container">
  <header>
    <img src="./../../assets/orbit_trans.png" alt="" class="logo-sm">

    <ul class="header-links">
      <li class="header-link"><a class="link-a" href="">Product</a></li>
      <li class="header-link"><a class="link-a" href="">Explore</a></li>
      <li class="header-link"><a class="link-a" href="">About</a></li>
      <li class="header-link"><a class="link-a" href="">Help</a></li>
      <li class="header-link"><a class="link-a blue-link" href="/login">Login</a></li>
      <li class="header-link"><a class="link-a" href="/signup">Sign Up</a></li>
    </ul>
  </header>

  <div class="main">
    <div class="text-panel">
      <h2 class="paragraph-header">
        Visualise performance metrics of any subject
      </h2>
      <div class="paragraph-text">
        <p>Orbit is an analytics tool that brings clear and intuitive
        visualisations of current performance, giving a holistic score and
        interactive drilldown into the factors that make up the performance
        metrics of any subject.</p>
      </div>
        <a href="/login">
          <button mat-raised-button class="action-btn">Create A Workspace</button>
        </a>
    </div>
    <div class="snapshot-wrapper">
      <div class="snapshot-panel">
        <img src="./../../assets/graph-home-page.png" alt="graph" class="img-graph">
      </div>
    </div>
  </div>


  <div class="overlay-background">
    <div class="overlay-green"></div>
    <div class="overlay-white"></div>
  </div>
</div>